
/** <br /> */
.bb_br {

}

/** <p> */
.bb_p {
    margin-top: 12px;
    margin-bottom: 12px;
}

/** <span> - bold */
.bb_b {
    font-weight: bold;
}

/** <span> - italic */
.bb_i {
    font-style: italic;
}

/** <span> - underline */
.bb_u {
    text-decoration: underline;
}

/** <span> - strikethrough */
.bb_s {
    text-decoration: line-through;
}

/** <div> - centered text */
.bb_center {
    text-align: center;
}

/** <div> - block quote */
.bb_quote {
    padding: 4px 4px 4px 10px;
}

/** <div> - block quote with a leadup specified */
.bb_quoteNamed {

}

/** <span> - the name/intro/leadup text before the actual quoted content starts */
.bb_quoteLeadup {
    font-weight: bold;
}

/** <span> - font size (size is set as in-line style, this just allows for formatting the tags that specify size) */
.bb_size {

}

/** <span> - font color (color is set as in-line style, this just allows for formatting the tags that specify color) */
.bb_color {

}

/** <a> */
.bb_url {

}

/** <a> */
.bb_namedUrl {

}

/** <img> */
.bb_img {

}

/** <ul> */
.bb_ul {

}

/** <ol> */
.bb_ol {

}
/** <li> */
.bb_li {

}

/** <pre> */
.bb_pre {

}

/** <pre> - Note, tag will also have a bb_<lexer>Lexer class on it where <lexer> is the name of the lexer specified in the code block definition. */
.bb_code {

}

/** <table> */
.bb_table {

}

/** <tr> */
.bb_tr {

}

/** <th> */
.bb_th {

}

/** <td> */
.bb_td {

}